.date_select_wrap{
	padding-top: .44rem;
}
.main{
	margin-top: .18rem;
}
.nav{
	width:100%;
	position:absolute;
	left:0;
	top:.44rem;
	overflow:hidden;
	z-index:99;
}
.nav li{
	width:50%;
	float:left;
	background-color:#fff;
	padding:.075rem 0;
	box-sizing:border-box;
	position:relative;
}
.nav li.active:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height:.02rem;
    background-color:#65bdd1;
}
.nav span{
	display:block;
	text-align:center;
	color:#65bdd1;
	font-size:.125rem;
	position:relative;
	line-height:1;
}
.nav span p{
	font-size:.12rem;
	color:#888;
	transform:scale(.8);
	padding-top:.08rem;
	letter-spacing:1px;
}
.nav span.border_left:before{
    content:" ";
    position: absolute;
    z-index:999;
    left:0;
    top:0;
    width:.01rem;
    height:100%;
    border-left:1px solid #cfcfcf;
    color:#cfcfcf;
    -webkit-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-transform:scaleX(.5);
    transform:scaleX(.5);
}
.calendar_wrap{
	padding:0 .04rem;
	margin-top:.11rem;
}
.calendar{
	width:100%;
	text-align:center;
}
.calendar_year_month{
	font-size:.16rem;
	line-height:.38rem;
	border:2px solid #ddd;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-weight:bold;
	background-color:#fff;
}
.calendar_year_month span{
	color:#333;
}
.calendar_year_month em{
	color:#65bdd1;
}
.calendar_week{
	font-size:.14rem;
	overflow:hidden;
	border:2px solid #ddd;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color:#fff;
	width:100%;
	margin-top:-2px;
	padding:calc( .02rem + 2px ) 0 .02rem;
	color:#888;
}
.calendar_week li{
	float:left;
	width:14.286%;
}
.calendar_day{
	overflow:hidden;
	width:calc( 100% - 2px );
	width:-webkit-calc( 100% - 2px );
	padding-left:2px;
	background-color:#ddd;
	height:calc( 2.4rem - 12px );
}
.calendar_day li{
	font-size:.14rem;
	float:left;
	width:calc( 14.28% + 2px );
	width:-webkit-calc( 14.28% + 2px );
	background-color:#fff;
	border:2px solid #ddd;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:-2px 0 0 -2px;
	color:#888;
	height:.4rem;
	position:relative;
}
.calendar_day li span{
	display:block;
	width:100%;
	height:100%;
}
.calendar_day li .rinyCalendar_blank{
	background-color:#ddd;
}
.calendar_day li .rinyCalendar_day{
	background-color:#fff;
	color:#333;
}
.calendar_day li .weekend,.calendar_week li .weekend{
	color:#f69e55;
}
.calendar_day li .rinyCalendar_oldday{
	background-color:#eee;
	color:#888;
}
.calendar_day li .check_in{
	font-size:.12rem;
	padding-top:.02rem;
	height:calc( 100% - .02rem );
	height:-webkit-calc( 100% - .02rem );
}
.calendar_day li .check_in:after{
	content:'入住';
	position:absolute;
	left:0;
	top:0;
	width:80%;
	height:100%;
	border:2px solid #65bdd1;
	color:#333;
	box-sizing:border-box;
	font-size:.12rem;
	margin:0 10%;
	padding-top:.15rem;
}
.calendar_day li .check_out:after{
	content:'离店';
	position:absolute;
	left:0;
	top:0;
	width:80%;
	height:100%;
	border:2px solid #65bdd1;
	color:#333;
	box-sizing:border-box;
	font-size:.12rem;
	margin:0 10%;
	padding-top:.15rem;
}
.calendar_day li .gray_day{
	background-color:#eee;
	color:#888;
}
.calendar_day li .last_days{
	background-color:#eee;
	color:#888;
}
.calendar_day li .selected{
	background-color:#65bdd1;
	color:#fff;
}