body{
	background-color: #b2e0eb
}
.member_right{
	padding: 0 .12rem;
}
.your_right{
	position:relative;
	background: url(../../images/xmn_member.png) no-repeat left center;
	background-size: .28rem .26rem;
	padding: .18rem 0 .15rem 0;
}
.your_right h5{
	font-size: .16rem;
	font-weight: normal;
	line-height: 1.2;
	color: #555555;
	padding-left: .38rem;
}
.your_right.border_after:after{
	background-color: #2dabc8;
}
.right .title{
	font-size: .12rem;
	padding-bottom: .07rem;
}
.right div{
	font-size: .12rem;
	padding-left: .12rem;
	color: #555555;
	line-height: .18rem;
	overflow: hidden;
}
.right div p{
	display: inline-block;
	width: .6rem;
	float: left;
}
.right div span{
	width: calc(100% - .6rem);
	width: -webkit-calc(100% - .6rem);
	word-wrap:break-word;
	float: right;
}
.down{
	clear: both;
}
.title span{
	text-decoration: underline;
	font-size: .14rem;
}
.right{
	position: relative;
	padding: .11rem 0;
}
.right.border_after:after{
	background-color: #2dabc8;
}
.right.border_before:before{
	background-color: white;
}
.rule_left{
	margin-left: .6rem;
}



















